<div class="footer-contact bg-color3">
    <div class="container">
    </div>
    </div>
<!--End Hosting Solution Area -->
<footer class="footer-area bg-color1">
    <div class="container ">
        <div class="footer-copyright">
            <div class="row">
                <div class="col-md-6">
                    <div class="footer-copyright-text">
                        <p>© Copyright 2020 - VillageReach</p>
                    </div>
                </div>
                
                <div class="col-md-6">
                    <ul class="footer-copyright-menu list-inline">
                        <li class="list-inline-item"><a href="https://gitlab.com/pcmt/pcmt/-/wikis/home" target="blank">Documentation</a></li>
                        <li class="list-inline-item"><a href="https://gitlab.com/pcmt/pcmt" target="blank">Find us on GitLab</a></li>
                        <li class="list-inline-item">
                            <!-- 
                                Contact link obfuscation based on:
                                https://www.heartinternet.uk/blog/15-ways-to-hide-your-email-address/
                                https://mothereff.in/html-entities
                            -->
                            <script language="JavaScript" type="text/javascript">
                                document.write(
                                    '<a href="&#x6'+'D;&#x61;&#'+'x69;&#x'+'6C;&#x74;'+'&#x6F;&'+'#x3A;&#x70'+';&#x63;&'+'#x6D;&#'+'x74;&#x4'+'0;&#x76'+';&#x69'+';&#x6C;&#x'+'6C;&#x61;&#x'+'67;&#x65;&#'+'x72;&#x65;&'+'#x61;&#x63;&'+'#x68;&#x2E;&#'+'x6F;&#x72;&#x'+'67;">&#x43;&#'+'x6F;&#x6E;&#x7'+'4;&#x61;&#x'+'63;&#x74;&#x'+'20;&#x55;'+'&#x73;</a>'   
                                );
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer Area -->