<!-- Start Header -->
<header class="header-area">
    <div class="container">
     {% include navigation.html %}
    </div>
        
        </div>
        
        </div>
</header>
<!-- End Header Area -->