<!-- Start themeix-hosting Area -->
<section class="themeix-hosting-area round-shap pb-0 section-spacing bg-color1">
<div class="themeix-hosting-faq-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 wow fadeInLeft"  data-wow-delay="500ms">
                <img src="{{site.baseurl}}/assets/images/laptop-pcmt-2.png" alt="images icon" />
            
            </div>
            <div class="col-md-6">
            <div class="inner-title">
                    <h2 class="headeing-2">Features for system administrators</h2>
                </div>
            <div class="feature-list-wrapper">
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon4.png" alt="Icon - flexible deployment" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Flexible deployment and configuration</h4>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon5.png" alt="Icon - data processing" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Powerful data processing</h4>
                    </div>
                </div>
                <div class="feature-list list-inline">
                    <div class="feature-list-icon">
                        <img src="{{site.baseurl}}/assets/images/feature-list-icon6.png" alt="Icon - secure" />
                    </div>
                    <div class="feature-list-content">
                        <h4 class="heading-4">Secure controls and permissions</h4>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End themeix-hosting Area -->