<section class="signature-area mt-5 pb-0 section-spacing bg-color1">
<div class="signature-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6  wow fadeIn" data-wow-duration="1s">
            <div class="signature-text">
            <div class="inner-title">
                    <h2 class="headeing-2">How it Works</h2>
                    <p>PCMT is open source software based on Akeneo that allows organizations to publish and manage product catalogs. It supports GS1 standards for identifying products, capturing data from barcodes, and sharing data. PCMT also acts as a OpenHIE Product Registry, sharing master product data to enable interoperability across eHealth ecosystems.</p><br><br>
                </div>
                
            </div>
            </div>
            <div class="col-md-6 wow fadeInRight" data-wow-duration="1s"><a href="https://youtu.be/TLGRf_A66hg" target="_blank"><img src="{{site.baseurl}}/assets/images/watch-demo.png" alt="image icon"/></a></div>
        </div>
      </div>
    </div>
</section>
<!-- End  Area -->