<!-- Start Slider -->
<section class="slider-area bg-color2">
<div class="banner-carousel2 owl-carousel owl-theme">
    <!-- Slide Item -->
    <div class="slide-item slider-bg1" style="background-image:url(assets/images/slider-bg-1.jpg);">
        <div class="auto-container clearfix">
            <!-- Content Box -->
            <div class="content-box center-align">
                <div class="inner alternate">
                    <h2 class="style-two">Transforming health care supply chains around the world.</h2>
                    <div class="text">The PCMT facilitates product information management, master data management, interoperability, and standards including GS1.</div>
                    <div class="link-box">
                        <!-- See comment in footer.html -->
                        <span id = "requestDemo1" />
                        <script language="JavaScript" type="text/javascript">
                                document.getElementById('requestDemo1').innerHTML = 
                                    '<a href="&'+'#x6'+'D;&'+'#x6'+'1;&'+'#x69'+';&#x'+'6C;&#'+'x74;&#x6'+'F;&#x3'+'A;&#x70'+';&#x'+'63;&#x'+'6D;&#x74;&'+'#x40;&#x76;&#'+'x69;&#x6C;&'+'#x6C;&#x61;&#x67;&#'+'x65;&#x72;&#x65;&#x61;&#x63;&#x'+'68;&#x2E;&#x6F;&#'+'x72;&#x67;?subject=PCMT Demo Request&body=Please send me a demo of the Product Catalog Management Tool!" class="theme-btn btn-style-seven">Request a Demo<span class="arrow flaticon-next-8"></span></a>'
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
<!-- End Slider Area -->